<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="bg-info">
<div class="container">
<table class="table table-bordered table-stripped">
<thead>
<tr class="bg-primary">
<th>ID</th>
<th>Items</th>
<th>Function</th>
<th>Spec</th></tr>
</thead>
<tbody class="bg-warning">
<tr th:each="e:${ITEMS}">
<td th:text="${e.id}"></td>
<td th:text="${e.c_name}"></td>
<td th:text="${e.c_origin}"></td>
<td th:text="${e.c_price}"></td>
<td th:text="${e.pid}"></td>
</tr>
</tbody>
</table>
</div>
</body>
</html>